{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	<!-- =========================== Breadcrumbs =================================== -->
	<div class="breadcrumbs_wrap gray">
		<div class="container">
			<div class="row align-items-center">

				<div class="col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="text-center">
						<h2 class="breadcrumbs_title">Suggest Travel Complete</h2>
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="ti-home"></i></a></li>
								<li class="breadcrumb-item"><a href="#">Trajet</a></li>
								<li class="breadcrumb-item active" aria-current="page">Suggest Travel Complete</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- =========================== Breadcrumbs =================================== -->

	<!-- =========================== Add To Cart =================================== -->
	<section>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-10 col-md-12 col-sm-12">

					<div class="card py-3 mt-sm-3">
						<div class="card-body text-center">
							<h2 class="pb-2">Merci pour votre proposition!</h2>
							<p class="font-size-sm mb-2">Votre Annonce sera traitée le plus tôt possible .</p>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
	<!-- =========================== Add To Cart =================================== -->
{% endblock %}



